<form class="persona-form" #personaForm="ngForm" (ngSubmit)="crear()">
    <input
    class="persona-form__campo"
    name="nombre"
    [(ngModel)]="nombre"
    type="text"
    placeholder="Nombre"
    required />

    <input
    class="persona-form__campo"
    name="apellido"
    [(ngModel)]="apellido"
    type="text"
    placeholder="Apellido"
    required />

    <input
    class="persona-form__campo"
    name="email"
    [(ngModel)]="email"
    type="email"
    placeholder="Email"
    required
    email />

    <input
    class="persona-form__campo"
    name="edad"
    [(ngModel)]="edad"
    type="number"
    placeholder="Edad"
    required
    min="18" />

    <select
    class="persona-form__campo persona-form__select"
    name="region"
    [(ngModel)]="region"
    (ngModelChange)="alCambiarRegion()"
    required>
      <option value="" disabled>Seleccione región</option>
      @for (region of regiones(); track region.nombre) {
        <option [value]="region.nombre">{{ region.nombre }}</option>
      }
    </select>

    <select
    class="persona-form__campo persona-form__select"
    name="comuna"
    [(ngModel)]="comuna"
    [disabled]="!region"
    required>
      <option value="" disabled>Seleccione comuna</option>
      @for (comuna of comunas; track comuna) {
        <option [value]="comuna">{{ comuna }}</option>
      }
    </select>

    <button class="persona-form__submit" type="submit" [disabled]="personaForm.invalid">Guardar</button>
</form>
