<form class="persona-form" [formGroup]="form" (ngSubmit)="crear()">
    <input
    class="persona-form__campo"
    formControlName="nombre"
    type="text"
    placeholder="Nombre" />

    <input
    class="persona-form__campo"
    formControlName="apellido"
    type="text"
    placeholder="Apellido" />

    <input
    class="persona-form__campo"
    formControlName="email"
    type="email"
    placeholder="Email" />

    <input
    class="persona-form__campo"
    formControlName="edad"
    type="number"
    placeholder="Edad" />

    <select
    class="persona-form__campo persona-form__select"
    formControlName="region">
      <option value="" disabled>Seleccione región</option>
      @for (region of regiones(); track region.nombre) {
        <option [value]="region.nombre">{{ region.nombre }}</option>
      }
    </select>

    <select
    class="persona-form__campo persona-form__select"
    formControlName="comuna">
      <option value="" disabled>Seleccione comuna</option>
      @for (comuna of comunas; track comuna) {
        <option [value]="comuna">{{ comuna }}</option>
      }
    </select>

    <button class="persona-form__submit" type="submit" [disabled]="form.invalid">Guardar</button>
</form>
